.header-menu {
    background-color: #34c1d3;
    width: auto;
    height: 4em;
}

.menu-right li {
    float: right;
    list-style-type:none;
    padding: 5px;
}

.menu-right {
    height: 1em;
}

table.table-bordered.time-picker-table {
    width: 650px;
    height: 200px;
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    text-decoration: none;
}

a.round:hover {
    background-color: #dcdcdc;
    color: black;
}

.previous {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: #ddd;
    color: black;
}

.round {
    border-radius: 50%;
}

.month {
    float: left;
}
